@model FormularioDatos.Models.Datos

@{
    ViewBag.Title = "Formulario";
}

<h2>Formulario</h2>


@using (Html.BeginForm(null,null, FormMethod.Post, new { @id = "form"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Datos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PrimerDato, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrimerDato, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrimerDato, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SegundoDato, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SegundoDato, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SegundoDato, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TercerDato, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TercerDato, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TercerDato, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" id="submit"  value="create" class="btn btn-default" />*@
                <input type="button" id="submiet" value="Hellow" class="btn btn-default" />
                <p id="pa"></p>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script>
    $('#submiet').click(function () {
        var url = "@Url.Action("Formulario","Home")";
        var model = $('#form').serialize();
        console.log("Data" + model);
        //$('#pa').text('Hola')
        $.post(url, model, function (data, status, xhr) {
            $('#pa').text(data)
        })
    })
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
